
body {
    font-family: 'Roboto', sans-serif;
}


.hero {
    background:rgb(245, 195, 101);
        /* // background-size: cover; */
        object-fit: cover;
        position: relative;
        background-position: 0  -200px ;
        height: 900px;
        overflow: hidden;
        display: flex;
        padding: 2rem 6rem;
    }
 h2 {
        font-family: cursive;
        margin: 5;
        /* text-transform: uppercase; */

    }
ul {
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        margin-left: 50%;
}

 li {
        margin: 0 1rem;
}
a {
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1rem;
        border-radius: 1rem;
        transition: all .8s ease;
}
 a:hover {
        background-color: #000;
        color: #fff;
    }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;  
}

.info {
    flex: 2;
    padding: 2rem;
}
 button {
        color: #fff;
        padding: .5rem 1rem;
        background-color: #000;
        border: 0;
        outline: 0;
    }
.cta {
    flex: 1;
    margin-top: 2rem;
    padding: 2rem;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;

   
}

#consent-popup {
    display: flex;
    align-items: center;
    justify-content:center ;
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 50px;;
    left: 25%;
    right: 0;
    margin: 100px;
    padding: 2rem 8rem;
    background-color: #fff;
    transition: opacity 1s ease;

}
#consent-popup:hidden {
    opacity: 0;
}
.popups{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
}

